@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: 400;
    src: local('IRANSansWeb'),
     url('IRANSansWeb.woff') format('woff');
    
  }
  @font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: 400;
    src: local('IRANSansWeb'),
     url('IRANSansWeb.woff2') format('woff2');
    
  }

 